[Unit]
Description=Install Red Hat CoreOS
After=initrd-parse-etc.service
After=dracut-initqueue.service dracut-mount.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rhcos-dpu.sh
StandardInput=null
StandardOutput=syslog
StandardError=syslog+console
