[submodule "bfb/bfscripts"]
	path = bfb/bfscripts
	url = https://github.com/Mellanox/bfscripts
[submodule "custom-coreos-disk-images"]
	path = custom-coreos-disk-images
	url = https://github.com/coreos/custom-coreos-disk-images
[submodule "bfb-build"]
	path = bfb/bfb-build
	url = https://github.com/Mellanox/bfb-build.git
