module sfc_controller 1.0;

require {
    type container_t;
    type openvswitch_t;
    type openvswitch_var_run_t;
    type container_var_run_t;
    type openvswitch_load_module_t;
    type ifconfig_t;
    type initrc_var_run_t;
    type kmod_exec_t;
    type rasdaemon_t;
    type debugfs_t;
    class unix_stream_socket connectto;
    class sock_file write;
    class netlink_rdma_socket { read write };
    class capability sys_admin;
    class process { noatsecure rlimitinh siginh };
    class file { append getattr write ioctl };
    class dir search;
}

allow openvswitch_t openvswitch_load_module_t:process { noatsecure rlimitinh siginh };
allow openvswitch_t self:capability sys_admin;
allow openvswitch_t self:netlink_rdma_socket { read write };
allow openvswitch_t debugfs_t:dir search;

allow container_t openvswitch_t:unix_stream_socket connectto;
allow container_t container_var_run_t:unix_stream_socket connectto;
allow container_t openvswitch_var_run_t:unix_stream_socket connectto;

allow container_t openvswitch_t:sock_file write;
allow container_t container_var_run_t:sock_file write;
allow container_t openvswitch_var_run_t:sock_file write;


allow ifconfig_t initrc_var_run_t:file { append getattr ioctl };

allow rasdaemon_t initrc_var_run_t:file { write ioctl };
allow rasdaemon_t kmod_exec_t:file getattr;